<head>
<style>
li {
	margin-bottom: .5em;
	margin-right: .8em;
	border: .1em solid;
	width: 60vw;
	display: flex;
	justify-content: center;
	font-size: 1.3em;
	padding: .5em;
	background: #2345AC;
}
a {
	text-decoration: none;
	color: #cdcdcd;
}
</style>
</head>
<ul style='list-style-type: none; padding: 0; display: flex; align-items: center; flex-direction: column;'>
{% for item in ips %}
<li><a href="/silex/{{id}}/ip/{{item}}">{{item}}</a></li>
{% endfor %}
</ul>
<hr>
<ul style='list-style-type: none; display: block; padding: 0; display: flex; flex-wrap: wrap; justify-content: space-around;'>
{% for item in when %}
<li><a href="/silex/{{id}}/when/{{item}}">{{item}}</a></li>
{% endfor %}
</ul>
